.searchingmapoverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchingmapoverlay > .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.3);
  animation: 4s ease-in 0s infinite alternate move_eye;
}

.searchingmapoverlay > .circle > div {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.3);
  animation: 4s ease-in 0s infinite alternate move_eye2;
}

@keyframes move_eye {
  from {
    width: 134px;
    height: 134px;
    border-radius: 100px;
  }
  to {
    width: 300px;
    height: 300px;
    border-radius: 150px;
  }
}
@keyframes move_eye2 {
  from {
    width: 40px;
    height: 40px;
    border-radius: 100px;
  }
  to {
    width: 134px;
    height: 134px;
    border-radius: 150px;
  }
}