.car {
  display: grid;
  grid-template-columns: 40px 40px;
  grid-template-rows: 40px 40px;
  justify-items: center;
  align-items: center;
  grid-auto-flow: row;
  margin: 20px auto;
  width: fit-content;
}

.carseat {
  background-color: #c5c7d2;
  width: 34px;
  height: 34px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  position: relative;
  font-family: "CirceBold";
  font-size: 22px;

  color: white;
  /* font-weight: bold; */
}

.carseat::after {
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 9px;
  background-color: rgba(0, 0, 0, 0.3);
}
