.bottombar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 20px;
  box-shadow: 0px 2px 34px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.bottombarinputwrapper {
  padding: 12px 16px
}

.ant-switch-checked {
  background-color: rgb(239, 121, 48);
}

