div#root {
  height: 100%;
  font-family: "Circe";
}

.mainmapcontainer {
  /* position: "absolute";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
  height: -webkit-fill-available;
  width: 100%;
}
